

/* header */



.emphead {

  border: 3px solid #006400;
  background-color: #32CD32;
  width: 100;
  color: black;
  padding: 50px;
  margin: 40px;
  font-size: 30px;
  text-align: center;
  font-weight: bold;
  border-radius: 15px;

}

.headsignoutlink {
  position: absolute;
  top: 65px;
  right: 60px;
  font-size: 20px;
  font-weight: bold;
}

.welcome {
  position: absolute;
  top: 55px;
  left: 70px;
  font-size: 17px;
  font-weight: bold;
  color: black;
  font-style: italic;
}
.currentusername {
  position: absolute;
  top: 95px;
  left: 70px;
  font-size: 17px;
  font-weight: bold;
  color: black;
}




   


/*body { 
height: 100%;
}
footer {
 position: absolute;
  bottom: 1px;
  
}

.footbottom {
   
  width: 88%;
 
  border: 3px solid #006400;
  background-color: #00FF00;
  color: #458B00;
  padding: 40px;
  margin: 40px;
  font-size: 10px;
  text-align: center;
  font-weight: bold;
  border-radius: 15px;
 
}*/

.selection {
  color: red;
  padding-top: 0;
  padding-bottom: 0;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 2px;
  padding-right: 2px;
  line-height: small;

}

.signup, .profile, .signin {
  position: absolute;
  top: 175px;
  text-align: center;
  font-weight: bold;
  left: 360px;
  
}
 .signin {
  position: absolute;
  top: 275px;
  text-align: center;
  font-weight: bold;
  left: 40%;
  font-size: 30px;
  
}

.signup {
  text-align: center;
  background-color: #00FF00;
  color: #8B2323;
  width: 50%;
  border-radius: 15px;
}
.signinhead {
  position: absolute;
  left: 38%;
  top: 170px;
  color: #458B00;
  font-weight: bold;
  font-size: 45px;
}
.signuphead {
  top: 60px;

  color: #458B00;
  font-weight: bold;
  font-size: 40px;
}
.field {
  color: #458B00;
}
.signhead {
   color: #458B00;
   font-style: italic;
   font-weight: bold;
}
.showprofile {
  position: absolute;
  top: 250px;
  left: 240px;
  color: #458B00;

}


.myrequests {
  position: absolute;
  top: 250px;
  left: 100px;
  color: #458B00;

}
.newrequest {
  position: absolute;
  top: 250px;
  left: 100px;
  color: #458B00;
}
.showfields {
  color: #458B00;
}

#border { 
border-left: 1px solid black; 
border-right: 1px solid black;
height: 100% 
} 

.apply {
  font: bold;
  color: #458B00;
  font-size: 18px;
  border-bottom: 3px solid #458B00;
  margin: 0px;
  padding: 0px;
  width: 50%;
  
}
.select {
  font: bold;
  color: #458B00;
  font-size: 18px;
  border-bottom: 4px solid #458B00;
  width: 50%;
  
}
.applyf {
  font: bold;
  color: #458B00;
  font-size: 18px;
  left: 400px;
  border-bottom: 3px solid #458B00;
  margin: 0px;
  padding: 0px;
  width: 50%;
  
}
.apply1 {
  font: bold;
  font-size: 18px;
}

.projectsworked {
  line-height: 90%;

}
.responsehead {
  position: absolute;
  top: 20px;
  font-size:  x-large;
  color: #458B00;
  font-style: italic;
   font-weight: bold;
}
.responsepage {
  position: absolute;
  top: 100px;
  font-size:  large;
  color: #458B00;
}

.profilehead {
   position: absolute;
   top: 180px;
   text-decoration: none;
   font-size: x-large;
   color: #458B00;
   font-style: italic;
   font-weight: bold;
   left: 100px;
}
.editfname {
  position: absolute;
  top: 67px;
}
.editprofilehead {
   position: absolute;
   top: 2px;
   font-size: x-large;
   text-decoration: underline;
   color: #458B00;
   font-style: italic;
   font-weight: bold;
   left: 10px;
}
.showedit {
  position: absolute;
  top: 250px;
  left: 100px;
  font-size: 17px;
}
.showgrav {
  position: absolute;
  top: 280px;
  left: 100px;
}

.allrequest {
  position: absolute;
  top: 220px;
  left:100px;
}

.signoutlink {
  position: absolute;
  top: 100px;
  right: 600px;
  color: red;
}
.signoutlinke {
  position: absolute;
  top: 10px;
  right: 500px;
}

.lastn {
  position: absolute;
  top: 10px;
  left: 400px;
}
.emailfld {
  position: absolute;
  top: 130px;

}
.firstfld {
  position: absolute;
  top: 130px;
  left: 350px;

}

.secondfld {
  position: absolute;
  top: 130px;
  left: 550px;

}

.thirdfld {
  position: absolute;
  top: 130px;
  left: 850px;

}

.fourthfld {
  position: absolute;
  top: 220px;
  
}

.fifthfld {
  position: absolute;
  top: 220px;
  left: 300px;

}
.sixthfld {
  position: absolute;
  top: 220px;
  left: 700px;

}
.seventhfld {
  position: absolute;
  top: 450px;
  left: 50px;
  

}
.eightfld {
  position: absolute;
  top: 450px;
  left: 450px;
  

}
.ninefld {
  position: absolute;
  top: 310px;
  left: 10px;

}
.proffice {
  position: absolute;

  top: 153px;
  left: 330px;
}
.offselect {
  position: absolute;
  top: 1px;
  left: 50px;
  
}
.relsk {
  position: absolute;
  top: 250px;
}
.grfield {
  position: absolute;
  top: 330px;
  left: 450px;

}
.lnfield {
  position: absolute;
  top: 55px;
  left: 350px;
}

.passfld {
  position: absolute;
  top: 105px;
}

.newfirst {
  position: absolute;
  top: 55px;
  left: 700px;
}
.newsecond {
  position: absolute;
  top: 105px;
  left: 350px;
}

.newoffice {
  position: absolute;
  top: 150px;
}
.newthird {
  position: absolute;
  top: 150px;
  left: 350px;
}
.newfourth {
  position: absolute;
  top: 150px;
  left: 750px;
}

.newsuper {
  position: absolute;
  top: 190px;
  left: 350px;
}
.newfifth {
  position: absolute;
  top: 190px;
  left: 5px;
  
}
.newsixth {
  position: absolute;
  top: 190px;
  left: 750px;
}
.newseventh {
  position: absolute;
  top: 250px;
 
}
.currsk {
  position: absolute;
  top: 423px;
  left: 20px;

 
  }
  .skint {
  position: absolute;
  top: 423px;
  left: 450px;
  line-height: 1.8em;
  }
  /*.radline {
    
    left: 50em;

  }*/
 .newsub {
  position: absolute;
  top: 630px;
  left: 200px;
  }

.lastn {
  position: absolute;
  top: 67px;
  left: 350px;
}

.tenfield {
  position: absolute;
  top: 380px;
  left: 330px;

}




.elefield {
  position: absolute;
  top: 410px;
  left: 330px;

}

.offield {
  position: absolute;
  top: 350px;
  left: 330px;
}
.twefld {
  position: absolute;
  top: 373px;
  left: 280px;

}

.thirtfld {
  position: absolute;
  top: 400px;
  left: 10px;

}

.fourtfld {
  position: absolute;
  top: 180px;
  left: 250px;

}

.fiftfld {
  position: absolute;
  top: 460px;
  left: 90px;

}
.submitfld {
  position: absolute;
  top: 645px;

}
.chkbox {
  position: fixed;
  top: 430px;
  

}
/*.skint {
  position: absolute;
  top: 423px;
  left: 350px;
  }*/
  .inbox {
   display: block;

}
.cancelfld {
  position: absolute;
  top: 650px;
  left: 400px;
  text-decoration: none;

}

 h1 {
    text-align: center;
    font-weight: bold;
    
  }
.field_with_errors {
   text-align: center;
  
  padding: 2px;
  background-color: red;
  display: table;
  
}




/*h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.7em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: #999;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}
/* sidebar */

aside {
  section {
    padding: 10px 0;
    border-top: 1px solid gray;
    &:first-child {
      border: 0;
      padding-top: 0;
    }
    span {
      display: block;
      margin-bottom: 3px;
      line-height: 1;
    }
    h1 {
      font-size: 1.4em;
      text-align: left;
      letter-spacing: -1px;
      margin-bottom: 3px;
      margin-top: 0px;
    }
  }
}

.gravatar {
  float: left;
  margin-right: 10px;
}

/*#tabbed_box {
  margin: 0px auto 0px auto;
  width: 650px;
}
.tabbed_box_1 h4 {
  font-family: arial, Helvetica, sans-serif;
  font-size: 23px;
  color: #ffffff;
  letter-spacing: 3px;
  margin-bottom: 0px;
}
.tabbed_area {
  /*border-bottom: 1px solid #494e52;
  background-color: white;
  /*padding: 8px;
}
/*ul.tabs {
  margin: 0px; padding: 0px;
  margin-top: 5px;
  margin-bottom: 6px;
  margin-left: 5px;
  margin-right: 5px;

}*/
/*ul.tabs li {
  list-style: none;
  display: inline;
  text-align: center;
  text-decoration: none;
}


ul.tabs li a  {
  text-align: center;
  text-decoration: none;
   font-size: 9px;
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  padding: 8px ;
   

   /* border: 1px solid #464c54;
  background-color:  #464c54;
  color: #ffebb5;
  padding: 8px 14px 8px 14px;
  
 
  border: 1px solid #464c54;
  background-color: white;
  text-decoration: none;
  font-size: 9px;
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  
 
}*/

#navigation li {
   
    text-decoration: none;
     list-style: none;
  display: inline;
  text-align: center;
  text-decoration: none;
  color: #458B00;
  background-color: white;
 
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  
 
}
#navigation li a {
  text-decoration: none;
  color: #458B00;
  
   background-color: white;
   border-width: 3px;
   border-style: solid;
   border-color: #458B00;
   padding: 3px;
   margin: 1px;
   
   }
 #navigation .current {
  text-decoration: none;
     list-style: none;
  display: inline;
  text-align: center;
  text-decoration: none;
  background-color: white;
  color: #458B00;
  border-bottom: 3px solid white;
  
}
#navigation {
  position: absolute;
  top:153px;
}

#navigation li a:hover {
  text-align: center;
  
  background-color: white;
  border-color:  #006400;
  color: #006400;
  border-bottom: none;
  border-top: 3px solid #006400;
  border-bottom: 6px solid white;
}
#navigation li a:active {
  text-align: center;
  border-bottom: none;
  background-color: white;
  border-color:  #006400;
  color:  #006400;
  border-bottom: 3px solid white;

}

.navline {
  position: absolute;
  top: 168px;
  font: bold;
  color: #458B00;
  font-size: 18px;
  border-bottom: 3px solid #458B00;

   border-right: 3px solid #458B00;
   padding-right: 0;

  width: 35.5%;
  left: 168px;
}

.navlinepro1 {
  position: absolute;
  top: 173px;
  font: bold;
  color: #458B00;
  border-bottom: 3px solid #458B00;
  left: 50px;
  width: 130px;

}
.navlinepro {
  position: absolute;
  top: 168px;
  font: bold;
  color: #458B00;
  font-size: 18px;
  border-bottom: 3px solid #458B00;

   border-right: 3px solid #458B00;
   padding-right: 0;

  width: 27.8%;
  left: 274px;
}
.navmyrequest {
  position: absolute;
  top: 173px;
  font: bold;
  color: #458B00;
  border-bottom: 3px solid #458B00;
  left: 50px;
  width: 235px;

}
.navmyrequest1 {
  position: absolute;
  top: 168px;
  font: bold;
  color: #458B00;
  font-size: 18px;
  border-bottom: 3px solid #458B00;

   border-right: 3px solid #458B00;
   padding-right: 0;

  width: 13.6%;
  left: 467px;
}
.navpost {
  position: absolute;
  top: 168px;
  font: bold;
  color: #458B00;
  font-size: 18px;
  border-bottom: 3px solid #458B00;

   border-right: 3px solid #458B00;
   padding-right: 0;

  width: 31.5%;
  left: 50px;
}








/*.current {
  text-align: center;
  background-color: white;
  color: #282e32;
  border-top: 1px solid #464c54; 
  border-left: 1px solid #464c54;
  border-right: 1px solid #464c54;
  padding: 8px;
  border-bottom: none;
}
.noncurrent {
  text-align: center;
  background-color: white;
  color: #282e32;
   border: 1px solid #464c54;
   padding: 8px;
}

ul.tabs li a:hover {
  text-align: center;
  background-color: #2f343a;
  border-color:  #2f343a;
}

ul.tabs li a.active  {
  text-align: center;
  background-color: white;
  color:#282e32;
  border-top: 1px solid #464c54; 
  border-left: 1px solid #464c54;
  border-right: 1px solid #464c54;
  padding: 8px;
  border-bottom: none;
 /* border-top: 1px solid #464c54;
  border-left: 1px solid #464c54;
  border-right: 1px solid #464c54;
  border-bottom: 0px white;
}
.content {
  background-color: #ffffff;
  padding: 10px;
  border: 1px solid #464c54;
}
#content_2, #content_3 {display: none;}*/
#calendar table {
  border-collapse: collapse;
  width: 100%;
}

#calendar td,
#calendar th {
  font-family: "Lucida Grande",arial,helvetica,sans-serif;
  font-size: 10px;
  padding: 6px;
  border: 1px solid #999;
}

#calendar th {
  background: #DDD;
  color: #666;
  text-align: center;
  width: 14.2857142857143%;
}

#calendar td {
  background: #FFF;
  color: #777;
  height: 80px;
  vertical-align: top;
  font-size: 16px;
}

#calendar .notmonth {
  color: #CCC;
}

#calendar #month {
  margin: 0;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
}

#calendar #month a, #calendar #month a:hover {
  text-decoration: none;
  padding: 0 10px;
  color: #999;
}

#calendar .today {
  background-color: #D7F2FF;
}

#calendar ul {
  margin: 0;
  margin-top: 5px;
  padding: 0;
  list-style: none;
}

#calendar li {
  margin: 0;
  padding: 0;
  font-size: 11px;
  text-align: center;
}